.container h1{
	font-size: 50px;
	font-weight: 400;
	top:20%;
	text-align: center;
	transition: all 0.5s ease 0s;
	display: block;
	color: rgb(255,255,255);
	padding-top:4em;
	
	
}
.searchBar input:focus{
	margin-top: -2em;
}
